@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("./Anuphan-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "Anuphan";
  background: url("./icon.jpg");
}
